/*Default-CSS*/
input[type="file"]::-webkit-file-upload-button {cursor:pointer; }
input[type="file"]::-moz-file-upload-button {cursor:pointer; }
input[type="file"]::-ms-file-upload-button {cursor:pointer; }
input[type="file"]::-o-file-upload-button {cursor:pointer; }
input[type="file"] {cursor:pointer; }
input { background:none; border:0 none; outline:none; }
html body{font-family: 'Soleil',sans-serif;margin: 0;font-size:100%;color:#fff;line-height:100%;font-style:normal;font-weight:normal;}
*::-moz-selection {color: #fff;background:#3c537b;}
*::-webkit-selection {color: #fff;background:#3c537b;}
*::-webkit-input-placeholder { color: #333333;opacity:1;}
*:-moz-placeholder { color: #333333;opacity:1;}
*::-moz-placeholder { color: #333333;opacity:1;}
*:-ms-input-placeholder { color: #333333;opacity:1;}
a,div a:hover, div a:active, div a:focus, button {text-decoration: none;-webkit-transition:all 0.5s ease 0s;-moz-transition:all 0.5s ease 0s;-ms-transition:all 0.5s ease 0s;-o-transition:all 0.5s ease 0s;transition:all 0.5s ease 0s; }
a, span,div a:hover, div a:active, button {text-decoration: none;}
*::after, *::before, * {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-ms-box-sizing: border-box;-o-box-sizing: border-box;box-sizing: border-box;}
ul, ul li, ol, li {list-style: outside none none;font-family: 'Soleil',sans-serif;}
body ul {margin:0;padding:0;}
a {outline: none;color:#fff;}
* {padding:0;margin:0;list-style:none;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;}
caption, th, td {text-align: left;font-weight: normal;}
blockquote:before, blockquote:after, q:before, q:after {content: "";}
td { vertical-align:top; }
a{ outline:none; cursor:pointer;text-decoration:none;display:inline-block; }
.left	{ float:left; }
.right	{ float:right; }
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {display:block;}
a:hover {color:#e03342;}
body .clearfix, body .clear {clear:both;line-height:100%;height:0;}
*{outline:none!important;}
table {border-collapse: collapse;border-spacing: 0;border:0 none;}
:focus {outline: 0;}
.clr:after, ul:after, .clearfix:after, li:after, .grve-container:after {clear:both;display:block;content:"";}
div input, div select, div textarea, div button{font-family: 'Soleil',sans-serif;}
body h1, body h2, body h3, body h4, body h5, body h6{font-family: 'Soleil',sans-serif;line-height:120%;color:#000;font-weight: bold;margin:0 0 15px;}
body h1 { font-size: 24px;}body h2 { font-size: 40px;}body h3 { font-size: 24px;}body h4 { font-size: 16px;}body h5 { font-size: 12px;}body h6 { font-size: 10px;}
body h1:last-child, body h2:last-child, body h3:last-child, body h4:last-child, body h5:last-child, body h6:last-child {margin-bottom:0;}
div select {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
div select option {font-size: 13px;color:#fff;padding: 2px 5px;}
img {margin: 0 auto;max-width: 100%;max-height: 100%;width: auto;height:auto;}
body p{color: #fff;font-family: 'Soleil',sans-serif;font-size:18px;line-height: 140%;margin: 0 0 15px;padding: 0;}
body p:empty{margin:0;line-height:0;}
body p:last-child{margin:0;}
p strong, strong {font-weight: bold;}
.a-left{text-align:left;} .a-right{text-align:right;}.a-center{text-align:center;} .a-justify { text-align:justify; }
label em {color: #ff0000;display: inline-block;font-style: normal;vertical-align: top;margin-left:5px;}
.hidden{display:none!important;}
.container:after{content:"";display:block;clear:both;}

@font-face {
	font-family: 'AmerigoBT-A';
	src: url('fonts/AmerigoBT-RomanA.eot');
	src: url('fonts/AmerigoBT-RomanA.eot') format('embedded-opentype'),
		 url('fonts/AmerigoBT-RomanA.woff') format('woff'), 
		 url('fonts/Amerigo BT.ttf') format('truetype'), 
		 url('fonts/AmerigoBT-RomanA.svg') format('svg');
}


html {
  height: 200vh;
}

body {
  background-color: #141516;
  padding-top: 140px
}
body, #root {
  height: 100%;
}

.container {
  float: none;
  margin: 0 auto;
  max-width: 1200px;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  width: 100%;
}

/************** header ****************/
header .container {
  background-color: #141516;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  padding: 50px 0;
}
.header-wrap div {
  display: inline-block;
  vertical-align: middle;
}

header {
  background-color: #141516;
  z-index: 999;
}

header a {
  font-size: 18px;
}

.menu a {
  padding: 0 10px;
}

.menu a.active {
  color: #e03342;
}


.start-project a {
  padding-right: 22px;
  position: relative;
}

.start-project a:before {
  content: "";
  width: 50px;
  height: 50px;
  background-color: #242424;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  left: -20px;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: -1;
}

.start-project a:hover:before {
  background-color: #000;
}

.start-project a:after {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.start-project a:hover:hover:after,
.start-project a:hover:focus:after,
.start-project a:hover:active:after {
  -webkit-animation-name: hvr-icon-wobble-horizontal;
  animation-name: hvr-icon-wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* Icon Wobble Horizontal */
@-webkit-keyframes hvr-icon-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  33.3% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes hvr-icon-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  33.3% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.start-project a:after {
  content: "";
  position: absolute;
  top: 3px;
  right: 0;
  background-image: url(images/shape.png);
  width: 17.5px;
  height: 10.5px;
}

body .ReactStickyHeader_midground,
body .ReactStickyHeader_background-bg,
body .ReactStickyHeader_foreground {
  display: none;
}
/************** header close ****************/


/************** footer ****************/
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  border-top: 1px solid #222;
}
.footer-left, .footer-right {
  width: 50%;
}
.footer-right {
  text-align: right;
}
.social-icons {
  display: inline-block;
}
.social-icons a {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.social-icons a:hover, .social-icons a:focus, .social-icons a:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
.social-icons a:nth-child(n+2) {
  margin-left: 20px;
}
.social-icons a:before {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  background-repeat: no-repeat;
}
.social-icons a.facebook:before {
  background-image: url("images/facebook.png");
}
.social-icons a.twitter:before {
  background-image: url("images/twitter.png");
  width:24px;
}
.social-icons a.instagram:before {
  background-image: url("images/instagram.png");
}
.footer-left p {
  color: rgba(255,255,255,0.3);
  font-size: 14px;
  line-height: 2.43;
}
/************** footer close ****************/


/************** about ****************/
.about-sec {
  text-align: center;
}
.section-gapping {
  padding: 50px 0;
}
.main-content h3 {
  font-family: AmerigoBT-A;
  font-size: 60px;
  color: #e03342;
}
.about-sec p {
  line-height: 1.89;
}

.box > div {
  display: inline-block;
  vertical-align: middle;
}
.main-content .box h3 {
  color: #fff;
  margin: 0;
}
.box p {
  color: rgba(255,255,255,0.7);
  text-align: left;
  line-height: 1.7;
}
.box-image {
  width: 464px;
  height: 280px;
  background-color: #d8d8d8;
  border: 0.8px solid #979797;
}

.box {
  margin-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.box:nth-child(2n) {
  flex-direction: row;
}
.box .box-content {
  order: 1;
} 
.box1 .box-content {
  margin-right: -113px;
}
.box3 .box-content {
  margin-right: -40px;
}
.box2 .box-content {
  margin-left: -65px;
}
.box4 .box-content {
  margin-left: -60px;
}
/************** about close ****************/


